<!DOCTYPE html>
<html>
      <head>
            <title>Tambah Film Baru</title>
      </head>
      <body>
            <h1>Tambah Film Baru</h1>
            <form action="/movies" method="POST" enctype="multipart/form-data">
                  <label for="id">Id:</label>
                  <input type="id" name="id" required />
                  <label for="title">Judul:</label>
                  <input type="text" name="title" required />
                  <label for="genres">Genre:</label>
                  <textarea name="genres" required></textarea>
                  <label for="year">Tahun:</label>
                  <textarea name="year" required></textarea>
                  <label for="photo">Foto:</label>
                  <input type="file" name="photo" accept="image/*" required />
                  <button type="submit">Simpan</button>
            </form>
      </body>
</html>
